div {
  color: red;
}

input[name="disabled-text-box"] {
  color: orange;
  background: gray;
}

.text-success {
  color: green;
}

.text-danger {
  color: red;
}

.text-special {
  font-style: italic;
}
